html
{
	scroll-behavior: smooth;
	font-family: "Ubuntu", Helvetica, sans-serif;
}
main
{
	
}
.navbar
{
	background-color: #000;
	position:fixed;
	top:0;
	height:60px;
	width: 100%;
	z-index:2;
}
.navbar a
{
	float:left;
	display:block;
	color:#ffffff;
	text-align:center;
	padding:14px 0;
	text-decoration:none;
	font-size: 1.4em;
	width:25%
}
.navbar a:hover
{
	color:#5d00ff;
}
.navbar .icon 
{
  display: none;
}
.tex
{
	font-size:1.2em;
	font-weight:500;
	margin: 0 auto;
}
h2
{
	/*padding-top:35px;*/
	padding-left:35px;
	font-size:2em;

}
.page1
{
	background-image: url("../images/giphy.gif");
	/*PARALLAX SCROLLING*/
	background-attachment:fixed;
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	color:white;
	/*margin-left:15%;*/
	padding-top:50px;
	display:block;
	height:100vh;

}
.page2
{
	color:#fff;
	background-color:#000;
	padding: 2em 0;
	border: white solid 1px;
}
.desc
{
	text-align:center;
	padding: 0 30px 30px 30px;
}
.page3
{
	width:100%;
	padding: 2em 0;
	background-image: linear-gradient(black ,white, black);
	color: white;
}
.page3 .content
{
	/*
	padding:2em 2em 2em 2em;
	margin-left:5%;
	margin-right:5%;
	display:block;
	border:3px solid black;
	border-radius:5px;
	overflow:hidden;
	border:3px solid black;
	border-radius:5px;*/	
	padding:1em;
	
	
	display:grid;
	grid-template-columns:repeat(2,2fr);
}
.content .box:first-child
{
	grid-column:1/-1;
}
.leftIcon
{
	position: absolute;
	bottom:10%;
	left:15%;
	color:rgb(3, 148, 245);
	transform: translateY(-10%);
	transition: .5s;
}
.rightIcon
{
	position: absolute;
	bottom:10%;
	right:15%;
	color: cyan;

	transform: translateY(-10%);/*hover animations*/
	transition: .5s;
}
.rightIcon:hover,.leftIcon:hover
{
	padding-bottom:5%;
}
/*If bigger than...*/
@media screen and (min-width:999px)
{
	.tex
	{
		margin: 0 25%;
	}
	.page3 .content
	{
		grid-template-rows:repeat(2,1fr);
		grid-template-columns:repeat(2,2fr);
		margin:0 20%;
	}
}
/******************/
.box {
  position: relative;
  margin: 1em 1em;
  /*
  float:left;
  width:29.9%;*/
  height:auto;
}

.box img{
	height:auto;
	width:100%;
	border-radius:15px;
}

.overlay {
  position: absolute;
  top:0 ;
  left: 0%;
  bottom:0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  border-radius:15px;
}

.box:hover .overlay {
  opacity: .8;
}

.caption {
	text-decoration:none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width:100%;
}
/******************/

.page4
{
	background-color:black;
	color:white;
	padding-top:35px;
	overflow:auto;
}
.col2
{
	float:left;
	width:50%;
}

input, textarea
{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
/*Created mobile.css b/c of render blocking CSS*/
