main
{
	font-family: "Ubuntu", Helvetica, sans-serif;
}
.navbar
{
	background-color: #000;
	position:fixed;
	top:0;
	height:60px;
	width: 100%;
	z-index:2;
}
.navbar a
{
	float:left;
	display:block;
	color:#ffffff;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-size: 1.4em;
	width:20%
}
.navbar a:hover
{
	color:#5d00ff;
}
.navbar .icon 
{
  display: none;
}
p
{
	font-size:1.2em;
}
h1
{
	/*padding-top:35px;*/
	padding-left:35px;

}
.page1
{
	background-image: url("../images/dark.jpg");
	/*PARALLAX SCROLLING*/
	background-attachment:fixed;
	background-position: center;
	background-repeat:no-repeat;

	color:white;
	/*margin-left:15%;*/
	padding-top:50px;
	display:block;
	height:600px;

}
.page2
{
	color:#fff;
	background-color:#000;
	padding-top:35px;
}
#title2
{
	text-align:center;
	padding: 0 30px 30px 30px;

}
.page3
{
	width:100%;
}

.page3 .content
{
	padding:2em 2em 2em 2em;
	margin-left:5%;
	margin-right:5%;
	display:block;
	border:3px solid black;
	border-radius:5px;
	overflow:hidden;
}


/******************/
.box {
  position: relative;
  width:80%;
  margin: 1em 1em;
  float:left;
  width:47.5%;
}

.box img{
	height:auto;
	width:100%;
	border-radius:15px;
}

page3 img {
  display: block;
}

.overlay {
  position: absolute;
  top:0 ;
  left: 0%;
  bottom:0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  border-radius:15px;
}

.box:hover .overlay {
  opacity: .8;
}

.caption a {
	text-decoration:none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width:100%;
}
/******************/

.page4
{
	margin-top:2em;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	color:white;
	padding-top:35px;
	overflow:auto;
}
.col2
{
	float:left;
	width:50%;
}

input, textarea
{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
@media screen and (max-width: 950px) 
{
	.box 
	{
		width:44.5%;
	}

}
/*standard mobiles?*/
@media screen and (max-width: 650px) 
{
	.navbar a {display: none;}
	.navbar a.icon 
	{
		margin:0 36%;
		font-size:30px;
		display: block;
	}
}

@media screen and (max-width: 650px) 
{
	/*resp portrait*/
  .navbar.resp 
  {
     position:fixed;
     height:55%;
  }
  .navbar.resp .icon 
  {
    /*position: absolute;*/
    right: 0;
    top: 0;
  }
  .navbar.resp a
  {
    position:relative;    
    float: none;
    display: block;
    margin: 0 auto;
  }
  .box
  {
  	width:auto;
  	float:none;
  }
  .page3 img
  {
  	height:auto;
  	width:100%;
  }
  .caption a
  {
  	font-size:.65em;
  }
  
  .overlay
  {
  	
  }
  .col2
  {
  	float:none;
		margin-left:auto;
		margin-right:auto;
  }
  
}
/*resp landscape*/
@media screen and (max-height: 360px)
{
	.navbar.resp 
	{
     position:fixed;
     height:85%;
  }
} 
