main
{
	font-family: "Ubuntu", Helvetica, sans-serif;
}
.navbar
{
	background-color: #000;
	position:fixed;
	top:0;
	height:60px;
	width: 100%;
	z-index:2;
}
.navbar a
{
	float:left;
	display:block;
	color:#ffffff;
	text-align:center;
	padding:14px 0;
	text-decoration:none;
	font-size: 1.4em;
	width:25%
}
.navbar a:hover
{
	color:#5d00ff;
}
.navbar .icon 
{
  display: none;
}
.tex
{
	font-size:1.2em;
	font-weight:500;
}
h2
{
	/*padding-top:35px;*/
	padding-left:35px;
	font-size:2em;

}
.page1
{
	background-image: url("../images/dark.jpg");
	/*PARALLAX SCROLLING*/
	background-attachment:fixed;
	background-position: center;
	background-repeat:no-repeat;

	color:white;
	/*margin-left:15%;*/
	padding-top:50px;
	display:block;
	height:600px;

}
.page2
{
	color:#fff;
	background-color:#000;
	padding-top:35px;
}
.desc
{
	text-align:center;
	padding: 0 30px 30px 30px;

}
.page3
{
	width:100%;
}

.page3 .content
{
	/*
	padding:2em 2em 2em 2em;
	margin-left:5%;
	margin-right:5%;
	display:block;
	border:3px solid black;
	border-radius:5px;
	overflow:hidden;
	*/	
	padding:1em;
	margin-left:5%;
	margin-right:5%;
	border:3px solid black;
	border-radius:5px;
	
	display:grid;
	grid-template-columns:repeat(2,2fr);
	grid-template-rows:repeat(3,6fr);
}

/*If smaller than...*/
@media screen and (min-width:950px)
{
	.page3 .content
	{
		grid-template-rows:repeat(2,1fr);
		grid-template-columns:repeat(3,2fr);
	}
}

/******************/
.box {
  position: relative;
  margin: 1em 1em;
  /*
  float:left;
  width:29.9%;*/
  height:auto;
}

.box img{
	height:auto;
	width:100%;
	border-radius:15px;
}

.overlay {
  position: absolute;
  top:0 ;
  left: 0%;
  bottom:0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
  border-radius:15px;
}

.box:hover .overlay {
  opacity: .8;
}

.caption a {
	text-decoration:none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width:100%;
}
/******************/

.page4
{
	margin-top:2em;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	color:white;
	padding-top:35px;
	overflow:auto;
}
.col2
{
	float:left;
	width:50%;
}

input, textarea
{
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}
/*Created mobile.css b/c of render blocking CSS*/
